<section class="wrapper">
	<div class="player-list" ng-controller="playersController">

		<h2>Player Management</h2>
		<p>[[ players.length ]] Total Players</p>
		<nav role="navigation">
			<a href="#" class="select">Alpha</a>
			<a href="#">GP</a>
		</nav>
		<ul>
			<li class="player" ng-repeat="player in players">
				<div class="playercard">
					<!-- <img class="avatar" src="http://placehold.it/40x40" /> -->
					<p class="name">[[ player.firstName ]] [[ player.lastName ]]</p>
					<p class="crud">
						<a href="#/players/[[ player._id ]]" class="edit">Edit</a>
						<a ng-click="remove($index)" class="delete">Delete</a>
					</p>
				</div>
			</li>
		</ul>

		<div class="controls">
			<a href="#/players/create" class="btn">Add Player</a>
		</div>

	</div>
</section>
