{% extends "base.html" %}
{% block content %}
  
<section class="wrapper">
	<div class="player-list">
		<h2>Player Management</h2>
		<p>7 Total Players</p>
		<ul>
			<li class="player">
				<div class="playercard">
					<!-- <img class="avatar" src="http://placehold.it/40x40" /> -->
					<p class="name">Noah Bass</p>
					<p class="crud">
						<a href="#" class="edit">Edit</a> <a href="#" class="delete">Delete</a>
					</p>
				</div>
			</li>
			<li class="player">
				<div class="playercard">
					<!-- <img class="avatar" src="http://placehold.it/40x40" /> -->
					<p class="name">Max Berg</p>
					<p class="crud">
						<a href="#" class="edit">Edit</a> <a href="#" class="delete">Delete</a>
					</p>
				</div>
			</li>
			<li class="player">
				<div class="playercard">
					<!-- <img class="avatar" src="http://placehold.it/40x40" /> -->
					<p class="name">Nick Guilliano</p>
					<p class="crud">
						<a href="#" class="edit">Edit</a> <a href="#" class="delete">Delete</a>
					</p>
				</div>
			</li>
			<li class="player">
				<div class="playercard">
					<!-- <img class="avatar" src="http://placehold.it/40x40" /> -->
					<p class="name">Chris Costanza</p>
					<p class="crud">
						<a href="#" class="edit">Edit</a> <a href="#" class="delete">Delete</a>
					</p>
				</div>
			</li>
			<li class="player">
				<div class="playercard">
					<!-- <img class="avatar" src="http://placehold.it/40x40" /> -->
					<p class="name">Greg Brunk</p>
					<p class="crud">
						<a href="#" class="edit">Edit</a> <a href="#" class="delete">Delete</a>
					</p>
				</div>
			</li>
			<li class="player">
				<div class="playercard">
					<!-- <img class="avatar" src="http://placehold.it/40x40" /> -->
					<p class="name">Luke Moderwell</p>
					<p class="crud">
						<a href="#" class="edit">Edit</a> <a href="#" class="delete">Delete</a>
					</p>
				</div>
			</li>
			<li class="player">
				<div class="playercard">
					<!-- <img class="avatar" src="http://placehold.it/40x40" /> -->
					<p class="name">Jason Simpson</p>
					<p class="crud">
						<a href="#" class="edit">Edit</a> <a href="#" class="delete">Delete</a>
					</p>
				</div>
			</li>
		</ul>
		<div class="controls">
				<a href="#" class="btn">Add Player</a>
		</div>
	</div>
</section>

{% endblock content%}
